.sidenav {
  height: 100%;
  width: 600px;
  position: fixed;

  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgray;
  overflow-x: hidden;
  padding-top: 20px;

  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.nav-profile {
  height: 40%;
  margin-bottom: 140px;
}

.nav-profile img {
  position: relative;
  display: block;
  margin: auto;
  padding-top: 30%;
}

.nav-profile h1 {
  text-align: center;
  color: black;
  font-size: 80px;
}

.nav-buttons {
  position: relative;
  margin-bottom: 15px;
  padding-top: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 40px;
  text-align: center;
  align-self: center;
}

.button {
  margin: 20px;
  padding: 20px;
  padding-left: 70px;
  background-color: rgb(61, 183, 223);
  opacity: 0.8;
  display: flex;
  align-items: center;
}

.button a {
  color: white;
}

.sidenav div:hover {
  opacity: 1;
}

.main {
  margin-top: 100px;
  margin-left: 680px;
  padding: 50px;
  height: 800px;
  width: 1130px;
  border-style: solid;
  border-color: black;
  background: rgb(200, 233, 240);
}

.hidden {
  display: none;
}

.placeholder {
}
#displaytable {
  padding: 20px;
  width: 35%;
  border: 6px solid rgb(58, 224, 58);
  font-size: 22px;
  background: white;
}
#displaytable2 {
  padding: 20px;
  width: 35%;
  border: 6px solid rgb(249, 252, 63);
  font-size: 22px;
  background: white;
}
